<?xml version="1.0"?>
<config>
  <phpunit>
    <suite>
      <modules>
        <Wsu_Mediacontroll/>
      </modules>
    </suite>
  </phpunit>
  <modules>
    <Wsu_Mediacontroll>
      <version>0.0.1</version>
    </Wsu_Mediacontroll>
  </modules>
  <frontend>
    <routers>
      <mediacontroll>
        <use>standard</use>
        <args>
          <module>Wsu_Mediacontroll</module>
          <frontName>mediacontroll</frontName>
        </args>
      </mediacontroll>
    </routers>
  </frontend>
  <global>
    <helpers>
      <wsu_mediacontroll>
        <class>Wsu_Mediacontroll_Helper</class>
      </wsu_mediacontroll>
    </helpers>
    <blocks>
      <mediacontroll>
        <class>Wsu_Mediacontroll_Block</class>
      </mediacontroll>
      <adminhtml>
        <rewrite>
          <media_uploader>Wsu_Mediacontroll_Block_FilePicker</media_uploader>
        </rewrite>
      </adminhtml>
    </blocks>
	<models>

      <wsu_mediacontroll>
        <class>Wsu_Mediacontroll_Model</class>
        <resourceModel>wsu_mediacontroll_resource</resourceModel>
      </wsu_mediacontroll>
      <wsu_mediacontroll_resource>
        <class>Wsu_Mediacontroll_Model_Resource</class>
        <entities>
          <imgclean>
            <table>wsu_mediacontroll_imgcleaner</table>
          </imgclean>
        </entities>
      </wsu_mediacontroll_resource>
		<catalog>
			<rewrite>
				<product_image>Wsu_Mediacontroll_Model_Product_Image</product_image>
			</rewrite>
		</catalog>
	</models>
    <resources>
      <wsu_mediacontroll_setup>
        <setup>
          <module>Wsu_Mediacontroll</module>
        </setup>
      </wsu_mediacontroll_setup>
    </resources>
  </global>
  <!--<admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <wsu_mediacontroll before="Mage_Adminhtml">Wsu_Mediacontroll</wsu_mediacontroll>
          </modules>
        </args>
      </adminhtml>
      <mediacontroll>
        <use>admin</use>
        <args>
		  <module>Wsu_Mediacontroll</module>
		  <frontName>mediacontroll</frontName>
          <modules>
            <wsu_mediacontroll before="Mage_Adminhtml">Wsu_Mediacontroll</wsu_mediacontroll>
          </modules>
        </args>
      </mediacontroll>
    </routers>
  </admin>-->
  <adminhtml>
    <layout>
      <updates>
        <wsu_mediacontroll>
          <file>wsu/mediacontroll.xml</file>
        </wsu_mediacontroll>
      </updates>
    </layout>
    <translate>
      <modules>
        <Wsu_Mediacontroll>
          <files>
            <default>Wsu_Mediacontroll.csv</default>
          </files>
        </Wsu_Mediacontroll>
      </modules>
    </translate>
	<menu>
		<system>
			<children>
				<tools>
					<children>
						<imgclean translate="title" module="wsu_mediacontroll">
							<title>Rouge Img Cleaner</title>
							<action>mediacontroll/imgclean</action>
							<sort_order>0</sort_order>
						</imgclean>
					</children>
				</tools>	  
			</children>
		</system>
	</menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Wsu_Mediacontroll>
              <title>Rouge Img Cleaner</title>
              <sort_order>10</sort_order>
            </Wsu_Mediacontroll>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <wsu_mediacontroll>
      <config>
        <!--
				Some examples on the config defaults
				<theme>go</theme>
				<showmageads>0</showmageads>
				<logo>logo.gif</logo>-->
      </config>
    </wsu_mediacontroll>
    <design>
      <watermark>
        <image_adapter>GD2</image_adapter>
        <small_image_adapter>GD2</small_image_adapter>
        <thumbnail_adapter>GD2</thumbnail_adapter>
      </watermark>
    </design>
  </default>
</config>
