<?xml version="1.0"?>
<config>
  <sections>
  
  <!--@todo move this-->
	<design>
		<groups>
			<watermark>
				<fields>
					<adapter>
						<label>Image Adatpter</label>
						<frontend_type>select</frontend_type>
						<comment>Please choose your image adapter</comment>
						<source_model>wsu_mediacontroll/source_image_adapter</source_model>
						<backend_model>wsu_mediacontroll/system_config_adapter</backend_model>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</adapter>
				</fields>
			</watermark>
		</groups>
	</design>
	 
	<!--@todo move this -->
        <catalog> 
			<show_in_store>1</show_in_store>
            <groups>
                <seoimagenames translate="label" module="mediacontroll">
                    <label>Seo Image Names</label>
                    <sort_order>565</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <disable_ext translate="label" module="mediacontroll">
                            <label>Disable Seo Image Names</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disable_ext>
                        <map translate="label comment" module="mediacontroll">
                            <label>Image Name Map</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use %attribute to include an attribute value in the image name, e.g. %sku.</comment>
                            <depends>
                                <disable_ext>0</disable_ext>
                            </depends>
                        </map>
                        <unique translate="label" module="mediacontroll">
                            <label>Make Images Unique by appending a Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <disable_ext>0</disable_ext>
                            </depends>
                        </unique>
                        <lowercase translate="label" module="mediacontroll">
                            <label>Lowercase Image Names</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <disable_ext>0</disable_ext>
                            </depends>
                        </lowercase>
                        <generate_labels translate="label comment" module="mediacontroll">
                            <label>Generate ALT Attributes if Emtpy</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select "Yes" to configure.</comment>
                            <depends>
                                <disable_ext>0</disable_ext>
                            </depends>
                        </generate_labels>
                        <use_filename_map_for_labels translate="label comment" module="mediacontroll">
                            <label>Use the same Map for ALT as for the File Names</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select "No" to configure.</comment>
                            <depends>
                                <disable_ext>0</disable_ext>
                                <generate_labels>1</generate_labels>
                            </depends>
                        </use_filename_map_for_labels>
                        <label_map translate="label" module="mediacontroll">
                            <label>ALT Name Map</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use %attribute to include an attribute value in the image name, e.g. %sku.</comment>
                            <depends>
                                <disable_ext>0</disable_ext>
                                <generate_labels>1</generate_labels>
                                <use_filename_map_for_labels>0</use_filename_map_for_labels>
                            </depends>
                        </label_map>
                    </fields>
                </seoimagenames>				
            </groups>
        </catalog>
	
	
    <wsu_mediacontroll translate="label comment" module="mediacontroll">
      <label>Media Controll</label>
      <tab>utilitiestab</tab>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <hint>
          <frontend_model>mediacontroll/adminhtml_system_config_fieldset_hint</frontend_model>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
        </hint>
        <config translate="label comment">
          <label>Mediacontroll Settings</label>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
		  <comment>NOTE YOU WOULD LOOK TO THE /etc/system.xml for the samples</comment>
          <fields>
			<apikey translate="label comment">
				<label>Filepicker.io API Key</label>
				<frontend_type>text</frontend_type>
				<comment><![CDATA[Sign up to <a href="https://www.filepicker.io/">Filepicker.io</a> and get an API key from there.]]></comment>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
			</apikey>
			<services translate="label comment">
				<label>Services</label>
				<frontend_type>multiselect</frontend_type>
				<source_model>wsu_mediacontroll/source_filePickerServices</source_model>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
			</services>
			<aviaryapikey translate="label comment"><!-- 4fe4c30e27e98731 6f5739478b08ddaf -->
				<label>Aviary Editor's  API Key</label>
				<frontend_type>text</frontend_type>
				<comment><![CDATA[Sign up to <a href="https://www.aviary.com/">aviary</a> and get an API key from there.]]></comment>
				<sort_order>30</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>0</show_in_website>
				<show_in_store>0</show_in_store>
			</aviaryapikey>
			<editoralltools translate="label comment">
				<label>Show All editor Tools</label>
				<comment></comment>
				<frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
				<sort_order>40</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</editoralltools>
				<editortools translate="label comment">
					<label>Choose Editor tools</label>
					<frontend_type>multiselect</frontend_type>
					<source_model>wsu_mediacontroll/source_editorTools</source_model>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends>
						<editoralltools>0</editoralltools>
					</depends>
				</editortools>
            <!--
			<theme translate="label">
              <label>Current Admin Theme</label>
              <frontend_type>select</frontend_type>
              <source_model>wsu_mediacontroll/adminhtml_system_config_source_themes</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </theme>
			<logo translate="label comment">
				<label>Logo</label>
				<comment>Allowed file types: jpeg, gif, png.</comment>
				<frontend_type>image</frontend_type>
				<backend_model>adminhtml/system_config_backend_image</backend_model>
				<upload_dir config="system/filesystem/media" scope_info="1">theme</upload_dir>
				<base_url type="media" scope_info="1">theme</base_url>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</logo>
			<showmageads translate="label comment">
				<label>Show Magento ads</label>
				<comment>This will hide the Magento Ads to advoid miss clicks by users.</comment>
				<frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</showmageads>
			-->
          </fields>
        </config>
      </groups>
    </wsu_mediacontroll>
  </sections>
</config>
